<div class="main-inner data-user">
                  <div class="begin"><span><h3>Чат:</h3></span></div>
                <div class="age">
                 <div class="you_age row no-gutters">
					<div class="col-sm-6 p-0">
						<li><span>Вы:</span></li>
                  		<li>
                  			<div class="sex">
                  				<button data-index="0">М</button>
                  				<button data-index="1">Ж</button>
                  			</div>
                  		</li>
					</div>
                  		
					<div class="col-sm-6 p-0">
						<li><span>Ваш возраст:</span></li>
						<div class="old"><input type="text" placeholder="18" maxlength="2"></div>
					</div>
				</div>
				<div class="neigbor_age row no-gutters">
					<div class="col-sm-6 p-0">
						<li><span>Собеседник:</span></li>
                  		<li>
                  			<div class="sex">
                  				<button data-index="0">М</button>
                  				<button data-index="1">Ж</button>
                  			</div>
                  		</li>
					</div>
						
					<div class="col-sm-6 p-0">
						<li><span>Возраст собеседника:</span></li>
						<div class="old">
							<span> от </span><input type="text" placeholder="14" maxlength="2"><br><span> до </span><input type="text" placeholder="99" maxlength="2">
						</div>
					</div>
				</div>
        <div class="agreement">
          <p>Я согласен с <a href="/agreement">правилами</a> пользования чата <input type="checkbox" name="" id="iagree" <%if(auth){%>checked<%}%>></p>
        </div>	
                  </div>
                  <div class="but_start">
					<%#<li class="anon"><span>Аноним: </span> <input type="checkbox" name="" id="an"><img id = 'img_anon'src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGGSURBVDhPzVK5TgMxEF2Jo0BcDR2HoKaDAgWCNyIFBW3+gLNC4gfSggA7G4UjDR0EbRNYexchivxAGnpOAV+AKKjgjXdClASoKHiSZb/n2dmZN3b+HLNSJ4U0p1gvQpl32l1lSq4Mpznke0wUqx0IPBBS36SkWRZeNJjJ+p20Q19xpbkTShcyvt/GnzQCAfuu1JEo+N0sNYB0V+kLSsJSHbZspW8XikEXcfoz/nqE8t+wrkVOj5M+70W9iHtoacf2rPQSU1Sj15EgEKrcL2S4iPsqXyE2WMX9CdMYZFRypzzEFDycTObPR+k840UDaO/VXgAUB3OfmcYgt6lspl+Yk2YMH1dg7CFLtj2KZxqjuYIabL8q2BDZSjtLTmrbjLRUQHOm0TH9FUi6hnXMNAa5CmPuE1tnPSxZIPEHHy3Sm1d9FJfyTIKlOpC1QHNuTlJDPEJziZg8S42gF4Yke/DjkV5eOhcMk2G00+hiP3T+x5dYA5VHcyajyG2cnyzfjaY45F/BcT4BCRfH9qkLdVoAAAAASUVORK5CYII=" alt="?"></li>%>
					<li><button class="start" id="start">Поиск</button></li>
				</div>
                  <hr>
                <div class="online">
                	<div class="inner-online">
                		<!-- <p id="user_online"><b>2000 пользователей </b>ищут собеседника</p> -->
                		<p id="user_chating"><b>0 пользователей </b> онлайн</p>
                	</div>
                </div>
  </div>