<div class="main-inner wait" style = "display: none">
	<div class="begin" id="begin">
		<span><h3>Чат:</h3></span>
		<button id = "stoping" class="stop" onclick="stop_search()">Остановить</button>
	</div>
	<div class="waiting" style="display: flex;justify-content: center;">
		<p><img src="/img/89.gif" width="64" height="64"><span class="serch_intel">Ищем собеседника...</span></p>
	</div>
</div>