    <header class="row no-gutters m-0">
                  
        <div class="both">
          <%if(auth){%>
                  <img src="/img/icons8-menu-50.png" width="50" height="50">
                  <%}%>
                  <div class="clucker">Clucker</div>
              </div>
                  <div class="reg">
                    <%if(!auth){%>
                    <a href="/singup">регистрация / вход</a>
                    <%}
                    else{%><a href="/logout">выход</a><%}%>
                  </div>
      
    </header>